<div class="col-xs-8 col-sm-8 col-md-8">
    <div class="mod_top_body_text">
        <div class="mod_top_body_div">
            <img src="" alt=""/>
            <div class="mod_top_body_text_context">
                <div class="text_context_l">
                    <a class="text_btn">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </div>
                <div class="text_context_r">
                    <h3>【WEB】 前端技术分享前端技术分享前端前端技术分享前端技术分享前端技术分享前端技术</h3>
                    <div class="mod_context_r_div">
                        <a href="">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span>June 3 2017</span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span>June 3 2017</span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span>June 3 2017</span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-heart preimg"></span>
                            <span class="pernum">18</span>
                        </a>
                    </div>
                </div>

                <p class="mod_top_body_text_p">
                    微信事业群 2017 实习生招聘内推盛大启动 热招职位 基础研究 后台开发 终端开发 前端开发 技术运营 内推要求 重点高校，重点实验室，计算机类相关专业； 既有专业深度，理论基础扎实，又参加过实际业务，有结果输出； 有知名互联网企业实习经验，或重点高校知名技术团队核心成员经历； 专业竞赛获奖，有科研成果、专利（论文被EI、SCI收录；国际性会议成果如ACM、IEEE等重要论文）者优先考虑。 AI（NLP，机器学习，语音，机器翻译方向）领域大咖，强烈欢迎！
                </p>
                <div class="mod_top_body_bottom">
                    <a class="type_lable">#IT博客</a>
                    <a class="type_lable">#IT个人博客</a>
                    <a class="type_begin" href="#">继续阅读>></a>
                </div>
            </div>
        </div>
    </div>
</div>
