.height-auto {
    height: auto;
}

.row-margin-top {
    margin-top: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.row-margin-left {
    margin-left: 20px;
}

.row-margin-right {
    margin-right: 20px;
}

.min-z-index {
    z-index: 0;
}

.max-z-index {
    z-index: 99999;
}

.position-relative {
    position: relative;
}
